	html{height: 100%;}
	body{margin:0;
		background-color:#FFFFFF;
		background-image: url(pagebackground.png);
		position: absolute;
		top: 0;
		bottom: 0;
		left:0;
		right:0;
		z-index: -1;
		}
	#container{
		background-repeat: repeat-y;
		background-size: 50% 0;
		background-color: #EEEEEE;
		color: #006600;
		min-width: 600px;
		font-family: Verdana, Arial, sans-serif;}
	#content{width: 100%;
		height: 100%;}
	#header {background-color: #0066FF;
		background-image: url(bluebackground.png);
		background-size: 20% 40%;
		background-position: right;
		background-repeat: repeat;
		height: 100px;
		color: #FFFFFF;
		text-align: right;
		padding: 0 20px;
		border-bottom: 2px solid #000000;
		padding-bottom: 20px;
		margin-bottom: 0px;}
	#nav{float: left;
		position: relative;
		min-width: 150px;
		border-right: 2px solid #000000;
		}
	#center{float:left;
		margin: 0 0px 0 10px;
		min-width: 600px;
		width: 40%;
		padding: 10px 100px 20px 10px;
		background-color: #FFFFFF;
		color: #006600;}
	#sidebar{	
		position: relative;	
		float: right;
		min-width: 200px;
		width: 10%;
		min-height: 100%;
		margin-right: 0px;
		padding-left: 5px;
		padding-right: 100px;
		padding-bottom: 20px;
		border-left: solid 1px #000000;
		background-color: #EEEEEE;
	 }
	#footer{font-size: .70em;
		text-align: center;
		background-color: #FFFFFF;
		padding-top: 10px;
		padding-right: 50px;
		margin-top: 100px;
		clear: right;}
	#sidebar #push{
		width: 1px;
		height:1000px;
	}
	#nav #push{
		width: 1px;
		height:1125px;
	}
	#header h1{margin-top: 0;
		margin-bottom: 0;
		font-size: 3em;
		text-align: left;
		text-shadow:2px 2px 2px #000000;}
	#header h2{margin-top: 0;
		font-size: 1em;
		text-align: left;
		text-shadow:2px 2px 2px #000000;
		}
	h2{margin-top: 0;
		font-size: 2em;
		text-align: left;
		text-shadow:2px 2px 2px #000000;}
	#header a{font-size: 0.8em;}
	#header a:link,#header a:visited{color: #FFFFFF;}
	#header a:focus,#header a:hover{color: #EEEEEE;}

	/*Left Nav Bar*/
	#nav ul { list-style-type: none; 
                 margin: 0;
				 padding: 0;
	}

	#nav a { text-decoration: none; 
	                display: block;
		            padding: 20px;   
	                background-color: #0000FF;
	                /*background-color: #b3c7e6;				*/
					border-bottom: 1px solid #ffffff;
	}
	#nav a:link { color: #ffffff; }
	#nav a:visited { color: #eaeaea; }
	#nav a:hover { background-color: #eaeaea;
	              color: #000000; }
	#nav img{margin:30px;}
	/*Center area*/
	#center p{margin:20px;}
	#center h2, #center h3{color:#b3c7e6;
		background-color: #FFFFFF;}
	/*#center br{clear:right;}*/
	#floatright{margin: 10px;
		float: right;}


#center div {
    
}
#center img {
    position:relative;
    top:0;
    bottom:0;
    left:10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right: 10px;
}
#center .image {
    min-height:50px
}

	/*Right News Bar*/
	#sidebar h3{
		padding-bottom: 2px;
		border-bottom:1px solid #000000;
		margin: 10px;
		font-size: 0.9em;
		color:#CC66CC;
		padding-left: 0;}
	.news{font-size: 0.80em;
		margin: 10px;}
