	html{height: 100%;}
	body{margin:0;
		background-color:#FFFFFF;
		background-image: url(pagebackground1.png);
		position: absolute;
		top: 0;
		bottom: 0;
		left:0;
		right:0;
		z-index: -1;
		}
	#container{
		background-repeat: repeat-y;
		background-size: 50% 0;
		background-color: #EEEEEE;
		color: #006600;
		min-width: 600px;
		font-family: Verdana, Arial, sans-serif;}
	#content{width: 100%;
		height: 100%;}
	#header {background-color: #0066FF;
		background-image: url(bluebackground.png);
		background-size: 20% 40%;
		background-position: right;
		background-repeat: repeat;
		min-height: 100px;
		color: #FFFFFF;
		text-align: right;
		padding: 0 20px;
		border-bottom: 2px solid #000000;
		padding-bottom: 20px;
		margin-bottom: 0px;}
	#nav{float: left;
		position: relative;
		min-width: 150px;
		max-width: 235px;
		}
	#center{float:left;
		margin: 0 0px 0 10px;
		/*min-width: 600px;*/
		min-width: 40%;
		width: 40%;
        
		padding: 10px 100px 20px 10px;
		background-color: #FFFFFF;
		color: #006600;}
	#sidebar{	
		position: relative;	
		float: right;
		min-width: 200px;
		width: 10%;
		min-height: 100%;
		margin-right: 2px;
		padding-left: 5px;
		padding-right: 100px;
		padding-bottom: 20px;
		background-color: #EEEEEE;
	 }
	#footer{font-size: .70em;
		text-align: center;
		background-color: #FFFFFF;
		padding-top: 10px;
		padding-right: 50px;
		margin-top: 100px;
		clear: right;
        margin-right:auto;
        margin-left:auto;
        display:block;
        padding-left:20%;
        width:100%;
	}
	#header h1{margin-top: 0;
		margin-bottom: 0;
		font-size: 3em;
		text-align: left;
		text-shadow:2px 2px 2px #000000;}
	#header h2{margin-top: 0;
		font-size: 1em;
		text-align: left;
		text-shadow:2px 2px 2px #000000;
		}
	h2{margin-top: 0;
		font-size: 2em;
		text-align: left;
		text-shadow:2px 2px 2px #000000;}
	blockquote{font-size: 20px;
		font-family: Garamond;
		text-align: center;}
	cite{font-size: 16px;
		font-family: Garamond;
		text-align: center;}
	.product{padding-left:10px;
		font-size: .90em;
		font-family: Garamond;
		font-weight: bold;
		color:blue;}
	#header a{font-size: 0.8em;}
	#header a:link,#header a:visited{color: #FFFFFF;}
	#header a:focus,#header a:hover{color: #EEEEEE;}

	/*Left Nav Bar*/
	#nav ul { list-style-type: none; 
                 margin: 0;
				 padding: 0;
	}

	#nav a { text-decoration: none; 
	                display: block;
		            padding: 20px;   
	                background-color: #0000FF;
	                /*background-color: #b3c7e6;				*/
					border-bottom: 1px solid #ffffff;
	}
	#nav a:link { color: #ffffff; }
	#nav a:visited { color: #eaeaea; }
	#nav a:hover { background-color: #eaeaea;
	              color: #000000; }
	#nav img{margin:30px;}
	/*Center area*/
	#center p{margin:20px;}
	#center h2, #center h3{color:#b3c7e6;
		background-color: #FFFFFF;}
	#center h3 a{text-decoration: none;}
	#center dl dt{font-weight: bold;
		padding-top: 5px;}
	#center dl dd{margin-bottom: 5px;}
	#center .ingredients{font-size: .85em;}
	#floatright{margin: 10px;
		float: right;}
	#floatleft{margin: 10px;
		float: left;}
	.petdescr{clear: left}
	.petname{font-size: 1.5em;
				font-weight: bold;
				text-shadow:2px 2px 2px #000000;
				color:#00FFFF;
				font-family: Futura;
				margin-bottom: 5px;
			}
	.petlife{font-size: .85em;
		font-style: italic;
		font-weight: bold;
		color: black;}


#center div {    width: 400px;
}
#center img {
    position:relative;
    top:0;
    bottom:0;
    left:10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left:auto;
    margin-right: 10px;
}
#center .image {
    min-height:50px
}

	/*Right News Bar*/
	#sidebar h3{
		padding-bottom: 2px;
		border-bottom:1px solid #000000;
		margin: 10px;
		font-size: 0.9em;
		color:#CC66CC;
		padding-left: 0;}
	.news{font-size: 0.80em;
		margin: 10px;}
/*chat controls*/
input { font:12px arial; }  
form{margin-left: 20px;
	padding:0;}

#wrapper, #loginform {  
    margin:0 auto;  
    padding-bottom:25px;  
    background:#EBF4FB;  
    width:504px;  
    border:1px solid #ACD8F0; }  
   
#loginform { padding-top:18px; }  
   
    #loginform p { margin: 5px; }  
   
#chatbox {  
    text-align:left;  
    margin:0 auto;  
    margin-bottom:25px;  
    padding:10px;  
    background:#fff;  
    height:270px;  
    width:430px;  
    border:1px solid #ACD8F0;  
    overflow:auto; }  
   
#usermsg {  
    width:395px;  
    border:1px solid #ACD8F0; }  
   
#submit { width: 60px; }  
   
.error { color: #ff0000;
margin-left:25px;}  
   
#menu { padding:12.5px 25px 12.5px 25px; }  
   
.welcome { float:left; }  
   
.logout { float:right; }  
   
.msgln { margin:0 0 2px 0; }  

/*Product controls*/

.type{
	font-size: 1.25em;
	text-align: center;
	padding: 0 15 0 15;
	border-bottom:1px black solid;
	border-top:1px black solid;
}
.product{
	font-weight: bold;
	font-family: Georgia;
	color: #FF3300;
	font-size: 1.1em;
	text-shadow: 1px 1px black;
}
.productdescription{
	font-style: italic;
	font-family: Arial;
	text-indent: 10px;
	padding-left: 5px;
	color: black;
    clear:both;
}
.price{
	font-size: .85em;
	font-family: CaviarDreams sans-serif;
	color: #33CCFF;
	text-shadow:1px 1px black;
}

.productblurb{
	color: black;
	text-align: center;
}
.Gridview{
    min-width:400px;
    border:none;
}

table{
    border-style: none;
    border-color: inherit;
    border-width: medium;
    margin: 0 0px 0 0;
}
.productImg{
    padding:0;
    /*float:right;*/
}
.imgHolder{
    float:right;
    width:auto;
}
.hgroup{

}
.productData{
    float:left;
    width:100%;
}
.productspace{
    margin-right:auto;
    margin-left:auto;
    padding-left:20%;
    display:block;
    width:100%;
}
.dropdown{
    width:100%;
}
form{
    width:auto;
}